.frame-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg, #151618, #1269a7 75%, #1ef0f5);
    width: 1920px;
    height: 200px;
}

a {
    text-decoration: none; /* Remove sublinhado das âncoras */
    color: inherit;
    font: inherit;
    cursor: pointer;
}

.sobre-ns, .academy, .contato, .clientes {
    position: absolute;
    display: inline-block;
    width: 313px;
    height: 80px;
    background-color: transparent; /* Mantém o fundo transparente como antes */
    color: #fff; /* Cor do texto */
    font-weight: bold;
    text-align: center;
    line-height: 80px; /* Alinhamento vertical do texto */
}

.sobre-ns {
    top: 81px;
    left: calc(50% - 156px);
}

.academy {
    top: 81px;
    left: calc(50% + 223px);
}

.contato {
    top: 81px;
    left: calc(50% + 418px);
}

.clientes {
    top: 81px;
    left: calc(50% + 37px);
}

.frame-item {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 1920px;
    height: 880px;
    object-fit: cover;
}

.servios {
    position: absolute;
    top: 447px;
    left: 140px;
    display: inline-block;
    width: 228px;
    height: 39px;
}

.desenvolvimento-de-software {
    position: absolute;
    top: 533px;
    left: 249px;
    font-size: 48px;
    font-family: Poppins;
    color: #151618;
    display: inline-block;
    width: 748px;
    height: 126px;
}

.sistemas-de-automao {
    position: absolute;
    top: 707px;
    left: 171px;
    font-size: 32px;
    font-family: Poppins;
    display: inline-block;
    width: 932px;
    height: 109px;
}

.logo {
    position: absolute;
    top: 0px;
    left: 35px;
    border-radius: 43px;
    width: 303.9px;
    height: 200px;
    object-fit: cover;
}

.rectangle-parent {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Syncopate;
}

/* Frame 3 */

.rectangle-parent1 {
    width: 100%;
    position: relative;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Merriweather;
}
.frame-child1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #d9d9d9;
    width: 1920px;
    height: 1080px;
}
.sobre-nos {
    position: absolute;
    top: 149px;
    left: 977px;
    display: inline-block;
    width: 339px;
    height: 40px;
    color: #142533;
}
.blank-line {
    margin: 0;
}
.a-protech-quality-container1 {
    width: 100%;
}
.a-protech-quality-container {
    position: absolute;
    top: 149px;
    left: calc(50% + 126px);
    font-size: 20px;
    font-family: Lora;
    display: flex;
    align-items: center;
    width: 710px;
    height: 310px;
}
.frame-item1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #142533;
    width: 960px;
    height: 597px;
}
.logo-removebg-preview-3-icon {
    position: absolute;
    top: 37px;
    left: 104px;
    border-radius: 254.5px;
    width: 752px;
    height: 509px;
    object-fit: cover;
}
.frame-inner {
    position: absolute;
    top: 477px;
    left: 1048px;
    border-top: 8px solid #142533;
    box-sizing: border-box;
    width: 810px;
    height: 8px;
}
.rectangle-div {
    position: absolute;
    top: 597px;
    left: 960px;
    background-color: #142533;
    width: 960px;
    height: 483px;
}
.misso {
    position: absolute;
    top: 663px;
    left: 943px;
    font-weight: 300;
    color: #1ef0f5;
    display: inline-block;
    width: 339px;
    height: 50px;
}
.emprestar-nossa-vasta {
    position: absolute;
    top: 760px;
    left: 1154px;
    font-size: 20px;
    font-family: Lora;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 573px;
    height: 67px;
}
.line-div {
    position: absolute;
    top: 921px;
    left: 1083px;
    border-top: 8px solid #1ef0f5;
    box-sizing: border-box;
    width: 715px;
    height: 8px;
}
.viso {
    position: absolute;
    top: 662px;
    left: 0px;
    font-weight: 300;
    color: #134f7a;
    display: inline-block;
    width: 339px;
    height: 50px;
}
.ser-a-referncia {
    position: absolute;
    top: 763px;
    left: 164px;
    font-size: 20px;
    font-family: Lora;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 509px;
    height: 61px;
}
.frame-child2 {
    position: absolute;
    top: 921px;
    left: 100px;
    border-top: 8px solid #142533;
    box-sizing: border-box;
    width: 715px;
    height: 8px;
}

/* Frame5 */

.rectangle-div2 {
    width: 100%;
    position: relative;
    background-color: #d9d9d9;
    height: 280px;

}

.frame-child7 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    border-top: 8px solid #142533;
    box-sizing: border-box;
    width: 715px;
    height: 8px;
    transform: translate(-50%, -50%); 
}


/* Frame11 */

.rectangle-parent2 {
    width: 100%;
    position: relative;
    background-color: #d9d9d9;
    height: 1084px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: Lora;
}
.frame-child3 {
    position: absolute;
    top: 84px;
    left: 678px;
    background-color: #d9d9d9;
    width: 1px;
    height: 11px;
}
.frame-item2 {
    position: absolute;
    top: -6px;
    left: 0px;
    background-color: #142533;
    width: 960px;
    height: 1090px;
}
.excelencia-1-icon {
    position: absolute;
    top: 266px;
    left: 143px;
    width: 71px;
    height: 81px;
    object-fit: cover;
    }
.nos-empenhamos-em {
    position: absolute;
    top: 287px;
    left: 161px;
    letter-spacing: -0.03em;
    color: #fff;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 714px;
    height: 179px;
}
.aperto-de-mao-1-icon {
    position: absolute;
    top: 614px;
    left: 152px;
    width: 71px;
    height: 81px;
    object-fit: cover;
}
.estamos-plenamente-dedicados {
    position: absolute;
    top: 636px;
    left: 139px;
    color: #fff;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 714px;
    height: 179px;
}
.excelncia {
    position: absolute;
    top: 264px;
    left: 260px;
    font-size: 24px;
    display: flex;
    font-family: Syncopate;
    color: #1ef0f5;
    align-items: center;
    justify-content: center;
    width: 473px;
    height: 99px;
}
.comprometimento {
    position: absolute;
    top: 605px;
    left: 162px;
    font-size: 24px;
    display: flex;
    font-family: Syncopate;
    color: #1ef0f5;
    align-items: center;
    justify-content: center;
    width: 710px;
    height: 99px;
}
.frame-inner1 {
    position: absolute;
    top: 422px;
    left: 139px;
    border-top: 8px solid #1ef0f5;
    box-sizing: border-box;
    width: 715px;
    height: 18px;
}
.line-div1 {
    position: absolute;
    top: 771px;
    left: 139px;
    border-top: 8px solid #1ef0f5;
    box-sizing: border-box;
    width: 715px;
    height: 18px;
}
.integridade-1-icon {
    position: absolute;
    top: 179px;
    left: 1115px;
    width: 71px;
    height: 81px;
    object-fit: cover;
    }
.operamos-com-os {
    position: absolute;
    top: 193px;
    left: 1100px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 714px;
    height: 179px;
}
.lei-1-icon {
    position: absolute;
    top: 435px;
    left: 1115px;
    width: 71px;
    height: 81px;
    object-fit: cover;
}
.mantemos-um-compromisso {
    position: absolute;
    top: 461px;
    left: 1115px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 714px;
    height: 179px;
}
.inovacao-1-icon {
    position: absolute;
    top: 721px;
    left: 1115px;
    width: 71px;
    height: 81px;
    object-fit: cover;
    }
.fomentamos-um-ambiente {
    position: absolute;
    top: 729px;
    left: 1134px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 714px;
    height: 179px;
}
.integridade {
    position: absolute;
    top: 170px;
    left: 1214px;
    font-size: 24px;
    display: flex;
    font-family: Syncopate;
    color: #142533;
    align-items: center;
    justify-content: center;
    width: 527px;
    height: 90px;
}
.transparncia {
    position: absolute;
    top: 426px;
    left: 1214px;
    font-size: 24px;
    display: flex;
    font-family: Syncopate;
    color: #142533;
    align-items: center;
    justify-content: center;
    width: 551px;
    height: 90px;
}
.inovao {
    position: absolute;
    top: 694px;
    left: 1214px;
    font-size: 24px;
    display: flex;
    font-family: Syncopate;
    color: #142533;
    align-items: center;
    justify-content: center;
    width: 551px;
    height: 90px;
}
.frame-child4 {
    position: absolute;
    top: 329px;
    left: 1100px;
    border-top: 8px solid #142533;
    box-sizing: border-box;
    width: 715px;
    height: 18px;
}
.frame-child5 {
    position: absolute;
    top: 610px;
    left: 1115px;
    border-top: 8px solid #142533;
    box-sizing: border-box;
    width: 715px;
    height: 18px;
}
.frame-child6 {
    position: absolute;
    top: 891px;
    left: 1130px;
    border-top: 8px solid #142533;
    box-sizing: border-box;
    width: 715px;
    height: 18px;
}

/* Frame10 */

.rectangle-parent3 {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    height: 570px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: Lora;
}
.frame-child8 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #d9d9d9;
    width: 1920px;
    height: 570px;
}
.frame-item3 {
    position: absolute;
    top: -15px;
    left: 0px;
    background-color: #142533;
    width: 1920px;
    height: 600px;
}
.protech-consultancy- {
    position: absolute;
    top: 325px;
    left: 96px;
    text-align: left;
    display: inline-block;
    width: 582px;
    height: 172px;
}
.blank-line1 {
    margin: 0;
}
.servios {
    position: absolute;
    top: 189px;
    left: 748px;
    font-size: 24px;
    display: inline-block;
    font-family: Syncopate;
    width: 438px;
    height: 44px;
}
.links {
    position: absolute;
    top: 189px;
    left: 1081px;
    font-size: 24px;
    display: inline-block;
    font-family: Syncopate;
    width: 438px;
    height: 44px;
}
.contato1 {
    position: absolute;
    top: 189px;
    left: 1414px;
    font-size: 24px;
    display: inline-block;
    font-family: Syncopate;
    width: 438px;
    height: 44px;
}
.desenvolvimento-de-software1 {
    margin-block-start: 0;
    margin-block-end: 5px;
}
.desenvolvimento-de-software-container {
    position: absolute;
    top: 256px;
    left: 748px;
    display: inline-block;
    width: 457px;
    height: 208px;
}
.incio-carreiras-contato-container {
    position: absolute;
    top: 256px;
    left: 1081px;
    display: inline-block;
    width: 449px;
    height: 208px;
}
.av-paulista-2073-container {
    position: absolute;
    top: 256px;
    left: 1414px;
    display: inline-block;
    width: 449px;
    height: 208px;
}
.logo-removebg-preview-3-icon {
    position: absolute;
    top: 73px;
    left: 196px;
    border-radius: 100px;
    width: 335px;
    height: 233px;
    object-fit: cover;
}
.icon-map {
    position: absolute;
    height: 4.18%;
    width: 0.94%;
    top: 44.91%;
    right: 24.38%;
    bottom: 50.91%;
    left: 74.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon-phone {
    position: absolute;
    height: 3.33%;
    width: 0.94%;
    top: 61.4%;
    right: 18.91%;
    bottom: 35.26%;
    left: 80.16%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon-envelope {
    position: absolute;
    height: 2.67%;
    width: 0.94%;
    top: 72.11%;
    right: 23.49%;
    bottom: 25.23%;
    left: 75.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
